@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">App de doações</h1>
</div>
<div class="img-center">
    <img class="col-lg-6 d-none d-lg-block" src="https://super.abril.com.br/wp-content/uploads/2020/03/si_doar.jpg" />
</div>
